<style>
table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
         margin-left: auto;
         margin-right: auto;
      }
th, td {
         padding-top: 10px;
         padding-bottom: 20px;
         padding-left: 30px;
         padding-right: 40px;
      }
</style>

    <table>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employee">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.company }}</td>
        </tr>
      </tbody>
    </table>